*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/fonfo-form.jpg');
}
a{
    font-size: 20px;
    color: rgb(12, 5, 5);
    width: 150px;
}

.padre-contenedor{
    width: 600px;
    height: 100%;
    background: #24303C;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.padre-contenedor h2{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.padre-contenedor p{
    height: 40px;
    text-align: center;
    font-size: 18px;
} 
 
.imagen{
    margin: 2px;
    padding: 2px;
}
.control{
    width: 100%;
    background: #24303C;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #1f53c5;
}



.boton{
    width: 100%;
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}


h3{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
 
.button{
    margin: 5px;
    padding: 5px;
    background: #24303C;
    width: 100%;
    border: 2px solid #1f53c5;
    border-radius: 5px;
    color: white;
}

.opciones{
    background: #1f53c5;
    border: 2px solid transparent;
    font-size: 14px;
    height: 40px;
    padding: 5px;
    width: 100%;
}

