@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
    font-family: 'Poppins', sans-serif;
    background-color:  rgba(93, 187, 162, 0.732);
    margin: 0;

}

.img1{
  width: 1300px;
  height: 250px;
  border:1px solid #0a141d;
  background-image:url(../img/segundoindex.jpg);
  background-repeat: no-repeat;
}

.nav-boton{
  background: rgb(74, 49, 234);
  color: #fff;
  padding: 10px 0;
  border: 2px solid #fff;
  border-radius: 8px;
  display: none;
}

.nav-link{
  display: inline-block;
  background-color:rgb(74, 49, 234);
  border-radius: 8px;
  color: #fff;
  padding: 10px 30px;
  text-align: none;
  
}
.nav-link:hover{
  background: rgb(186, 43, 226);
}
nav{
  background: #0a141d;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px){
  nav{
      background: black;
      flex-direction: column;
  }
  .nav-link{
      margin: 10px;
  }
  .nav-boton{
      display: inline-block;
  } 
  .desaparece{
      display: none;
  }
}

/*lugares.html*/

.todo_el_contenido{
  width: 190px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 100px;
}

.contenido_carrousel{
  width: 100%;
  position: absolute;
  animation: rotar 10s infinite linear;
  transform-style: preserve-3d;
}

.contenido_carrousel:hover{
  animation-play-state: paused ;
  cursor: pointer;
}

.contenido_carrousel figure{
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px  black;
  transition: all 300ms;
}

.contenido_carrousel figure:hover{
  box-shadow: 0px 0px 0px 0px  black;
  transition: all 300ms;
}



.contenido_carrousel figure:nth-last-child(0){transform: rotateY(0deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(1){transform: rotateY(36deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(2){transform: rotateY(72deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(3){transform: rotateY(108deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(4){transform: rotateY(144deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(5){transform: rotateY(180deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(6){transform: rotateY(216deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(7){transform: rotateY(252deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(8){transform: rotateY(288deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(9){transform: rotateY(324deg) translateZ(300px);}

.contenido_carrousel figure:nth-last-child(10){transform: rotateY(360deg) translateZ(300px);}



.contenido_carrousel img{
  width: 100%;
  transition: all 300ms;
}

.contenido_carrousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar{
  from{
    transform: rotateY(0deg);
  }to{
    transform: rotateY(360deg);
  }
}

@media (max-width:600px) {
  .contenido_carrousel figure{
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px  black;
    transition: all 300ms;
  }  
   .contenido_carrousel img{
    width: 50%;
    transition: all 300ms;
}
}
 
.col-8{
  margin-left: 250px;
  margin-top: 350px;
  text-align: center;
}
h5{
  font-size: 38px;
  text-shadow:  4px 4px 4px rgba(10, 1, 1, 0.5);
}

p{
  font-size: 28px;
}


  /*Footer*/

.pie-pagina{
  margin-top: 100px;
  width: 100%; 
  background-color: #0a141d;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 150px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
  color: #fff;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 5px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}



.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1{
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  padding: 30px 0;
  }
}
