@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,600;1,700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0a141d;
    margin: 0;

}

.img1{
  width: 1300px;
  height: 250px;
  border:1px solid #0a141d;
  background-image:url(../img/segundoindex.jpg);
  background-repeat: no-repeat;
}

.nav-boton{
  background: rgb(74, 49, 234);
  color: #fff;
  padding: 10px 0;
  border: 2px solid #fff;
  border-radius: 8px;
  display: none;
}

.nav-link{
  display: inline-block;
  background-color:rgb(74, 49, 234);
  border-radius: 8px;
  color: #fff;
  padding: 10px 30px;
  text-align: none;
  
}
.nav-link:hover{
  background: rgb(186, 43, 226);
}
nav{
  background: #0a141d;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px){
  nav{
      background: black;
      flex-direction: column;
  }
  .nav-link{
      margin: 10px;
  }
  .nav-boton{
      display: inline-block;
  } 
  .desaparece{
      display: none;
  }
}

/*lugares.html*/


  .carouselExampleCaptions {
    width: 100%;
    overflow: scroll;
    padding: 10px;
    position: relative;
  }
  .carousel-inner{
    white-space: nowrap;
    margin: 30px 0px;
    padding-bottom: 10px; 
  }
  .carousel__item {
    background-color: rgb(163, 31, 75);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
  }

  .carousel__item:hover ~ .carousel__item {
    transform: translate3d(100px, 0, 0);
  }

  .carousel__container:hover .carousel__item {
    opacity: 0.3;
  }

  .carousel__container:hover .carousel__item:hover {
    transform: scale(1.5);
    opacity: 1;
  }

  .carousel-caption{
    background-color: #0c6cc07b;
    width: 100%;
    margin-left: -195px;
    align-items: right; 
    display: flex;
    justify-content: center;
  }

  
  h5 p li{
    color: black;
    position:absolute;
    font-size: 1.6rem;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;
  }

  .d-block{
    width: 600px;
    height: 600px;
  }


  /*Footer*/

.pie-pagina{
  width: 100%; 
  background-color: #0a141d;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 150px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
  color: #fff;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 5px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}



.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px) {
  .pie-pagina .grupo-1{
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  padding: 30px 0;
  }
}
