@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,600;1,700&display=swap');
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(69, 207, 170, 0.4),rgba(40, 169, 135, 0.6)), url(../img/fondo.index.jpg);
    color: rgb(12, 11, 11);
}

.img1{
    width: 100%;
    height: 250px;
    border:1px solid black;
    background-image:url(../img/segundoindex.jpg);
    background-repeat: no-repeat;
}

.nav-boton{
    width: 100%;
    background: rgb(74, 49, 234);
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    border-radius: 8px;
    display: none;
}


.nav-link{
    display: inline-block;
    background-color:rgb(74, 49, 234);
    border-radius: 8px;
    color: #fff;
    padding: 10px 30px;
    text-align: none;
    
}
.nav-link:hover{
    background: rgb(186, 43, 226);
    transform: scale(1.5) translateY(-10px);
    transition: all 0.4s;
    
}
nav{
    width: 100%;
    background: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px){
    nav{
        background: black;
        flex-direction: column;
    }
    .nav-link{
        margin: 10px;
    }
    .nav-boton{
        display: inline-block;
    } 
    .desaparece{
        display: none;
    }
}

/* index.html*/


.padre-articulo{
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
}

.articulo.hijo{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0px 20px - 30px black;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.articulo.hijo::before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top:0;
    left: 0;
}

h2{
  margin-top: 5px;
  font-family: 'Diplomata SC';
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(10, 1, 1, 0.5);
}

p{
    padding: 5px;
    font-family: 'La Belle Aurore';
    font-size: 20px;
    color: #0a141d;
}

img{
    box-shadow: 4px 4px 4px rgba(10, 1, 1, 0.5) ;
}

h3{
margin: 10px;
  font-family: 'Diplomata SC';
  font-size: 50px;
  text-shadow: 4px 4px 4px rgba(10, 1, 1, 0.5);
}
li{
    font-style: italic;
}

/*aside*/

.mensaje-1{
    width: 300px; 
    grid-column: 2;
    grid-row: 2;
    box-sizing: border-box;
    margin-left: 850px;
    margin-top: -770px;
    margin-left: 900px;
    margin-right: 50px;
    float:right;
}

.titulo-1{
    font-size: 20px;
    text-align: left; 
}

h5 a{
    font-family:'Diplomata SC' ;
    font-size: 30px;
    font-weight: 10px;
}

.imagen1{
    width: 70%;
}

.imagen1:hover{
    transform: scale(0.9) translateX(-10px
    );
    transition: all 0.4s;
}

.mensaje-2{
    width: 300px; 
    box-sizing: border-box;
    margin-left: 850px;
    margin-top: -400px;
    margin-left: 900px;
    margin-right: 50px;
    float:right;
}


.titulo-2{
    font-size: 20px;
    text-align: left;
}

h5 a{
    font-size: 10px;
}

.imagen2{
    width: 70%;
}

.imagen2:hover{
    transform: scale(0.9) translateX(-10px
    );
    transition: all 0.4s;
}



/*Footer*/

.pie-pagina{
    width: 100%; 
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 5px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(5, 245, 245);
    transform: translateY(-3px);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.4);
    filter: none;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    padding: 30px 0;
    }
}
/*inicio*/

.padre{
    background: rgba(93, 187, 162, 0.732) ;
    margin: 5px;
    width: 95%;
    text-align: left;
    color: #fff;
}
.titulo{
    font-size: 48px;
}

h3 p {
    width: 100%;
    font-family: 'La Belle Aurore', sans-serif;
    text-align: center;
    text-decoration:line-through;
}

/* cards pag inicio*/

.titulo-aside{
    font-size: 48px;
    font-family: 'Diplomata SC', sans-serif;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(10, 1, 1, 0.5);
}

.contenedor-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 650px;

}

.contenedor-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 650px;
}

.card{
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px  rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1 ;
    color: #6a6a6a;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px ;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid  #2fb4cc ;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: #2fb4cc;
    color: #fff
}

@media screen and (max-width: 900px){
    .card{
        width: 50% ;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px){
    .card .contenido p a h3{
        width: 33% ;
        font-size: 12px;
    }
}